body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
}

.sidebar {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #343a40;
    color: white;
    width: 250px;
    padding-top: 20px;
    z-index: 9999;
    font-size: large;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: all 0.2s ease-in-out;
}

.sidebar a:hover {
    background: #495057;
    text-decoration: none;
}

.content {
    margin-left: 260px;
    position: relative;
    top: -13px;
}

.mt-4 {
    margin-top: 0.5rem !important;
}

.card {
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
    position: fixed !important;
    top: -21px;
    right: 0;
    background: #343a40;
    color: white;
    padding: 30px !important;
    width: 84%;
    z-index: 999;
}


/*Dashboard*/


/* From Uiverse.io by joe-watson-sbf */

.flip-card {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid blue;
    border-radius: 1rem;
}

.flip-card-front {
    background: linear-gradient(120deg, rgb(145, 138, 130) 60%, rgb(255, 231, 222) 88%, rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
    color: blue;
}

.flip-card-back {
    background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%, bisque 40%, rgb(255, 185, 160) 78%);
    color: white;
    transform: rotateY(180deg);
}